
<div class="row documentation-message">
    <div class="col-md-12">
        <div class="panel panel-mvc">
            <div class="panel-heading">Welcome to IFS Community Forum!</div>
            <div class="panel-body">
                <p>
                    This forum is designed to discuss topics on IFS Applications™ For better usability, please use correct category if you are starting a conversation.
                </p>
                <p>Note: This forum is maintained by IFS Community users and do not have connections with any IFS subsidiaries.</p>
            </div>
        </div>
    </div>
</div>
